# Лог-файлы
*.log
logs/
*.out

# Файлы настроек среды
.env
venv

# Кэш и временные файлы
*.tmp
*.swp
*.bak
*.lock

# Системные файлы macOS
.DS_Store

# Python-специфичные файлы
__pycache__/
*.pyc
*.pyo

# Node.js
node_modules/

# IDE
.vscode/
.idea/
*.iml

# Сборочные артефакты
dist/
build/
*.exe
*.dll
*.so
*.dylib

# Docker и виртуализация
docker-compose.override.yml
*.dockerfile
*.vagrant